In [ ]:
import json
import pandas as pd

with open(r"C:\Users\mvanysac\OneDrive - MINFIN\Bureaublad\wielermanager\Tour_2025.json", "r") as f:
    data = json.load(f)

df_players = pd.json_normalize(data["players"]) #we pakken enkel deel onder players

df_active_players = df_players[df_players["active"] == 1] #enkel deelnemende renners

df_value = pd.DataFrame(df_active_players[["name", "value"]]) #renners en hun wielermanagerwaarde

#data zoals onedayraces enzo zijn colommen geworden met "speciality...."
speciality_columns = [col for col in df_players.columns if col.startswith('speciality.')]

df_speciality_expanded = df_players[speciality_columns].copy()


df_speciality_expanded.columns = [col.replace('speciality.', '') for col in df_speciality_expanded.columns]

df_speciality = pd.concat([df_active_players[['name', "value"]], df_speciality_expanded], axis=1) #renners en hun pro cycling stats
print(df_speciality.head())

                name  value  Onedayraces      GC      TT  Sprint  Climber  \
92     Pogacar Tadej   13.0       7677.0  6844.0  2703.0   302.0   8498.0
93  Jonas Vingegaard   11.0        320.0  5026.0  2064.0   129.0   4390.0
94   Evenepoel Remco   10.0       3370.0  4254.0  4131.0   120.0   4068.0
95  Philipsen Jasper    9.0       5089.0   574.0   154.0  5820.0    185.0
96        Kooij Olav    8.0       1712.0   585.0    72.0  2922.0     48.0

     Hills
92  3706.0
93  1561.0
94  1544.0
95  2358.0
96   942.0

In [ ]:
df_gt_all_normalized  = pd.json_normalize(data['players'], record_path=['GT'], meta=['id','name', 'value', 'active'], errors='ignore')

df_gt_active_players_details = df_gt_all_normalized[df_gt_all_normalized['active'] == 1].copy()

df_gt_final = df_gt_active_players_details[['name', 'value', 'competitionFeed', 'GC', 'points', 'youth', 'mountain', 'best']].copy()
df_gt_final[['GC', 'points', 'youth', 'mountain', 'best']] = df_gt_final[['GC', 'points', 'youth', 'mountain', 'best']].fillna(0)

df_gt_tour = df_gt_final[df_gt_final["competitionFeed"] == "TOUR"]

,name,value,competitionFeed,GC,points,youth,mountain,best
583,Pogacar Tadej,13,TOUR,1.0,4.0,0.0,2.0,1.0
584,Pogacar Tadej,13,GIRO,1.0,5.0,0.0,1.0,1.0
585,Pogacar Tadej,13,TOUR,2.0,4.0,1.0,5.0,1.0
586,Pogacar Tadej,13,TOUR,2.0,3.0,1.0,4.0,1.0
587,Pogacar Tadej,13,TOUR,1.0,8.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...
3512,Zimmermann Georg,2,TOUR,80.0,55.0,13.0,0.0,8.0
3513,Zimmermann Georg,2,VUEL,21.0,76.0,5.0,0.0,15.0
3514,Zwiehoff Ben,2,VUEL,35.0,102.0,0.0,50.0,14.0
3515,Zwiehoff Ben,2,GIRO,51.0,0.0,0.0,0.0,22.0
3516,Zwiehoff Ben,2,VUEL,47.0,0.0,0.0,0.0,28.0